In [2]:
import pandas as pd
import numpy as np

In [79]:
for cols in [32, 64, 128, 256, 512 ,1024]:
    arows = 2000
    brows = 2000

    a = pd.DataFrame(np.vstack([np.random.choice(1000,size=(arows)),np.random.normal(size=(cols,arows))]).transpose(),columns = ['akey'] + ['avalue' + str(i) for i in range(1,1+cols)]).set_index('akey')

    b = pd.DataFrame(np.vstack([np.random.choice(1000,size=(brows)),np.random.normal(size=(cols,brows))]).transpose(),columns = ['bkey'] + ['bvalue' + str(i) for i in range(1,1+cols)]).set_index('bkey')

    %timeit a.join(b,how='inner')

3.13 ms ± 130 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
3.55 ms ± 74 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
4.36 ms ± 42.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
6.3 ms ± 132 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
9.56 ms ± 386 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)
16.2 ms ± 660 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [70]:
a.memory_usage().sum() / 1024 / 1024

4.624427795410156

In [12]:
cols = 2
arows = 1000
brows = 1000
a = pd.DataFrame(np.vstack([np.random.choice(100,size=(arows)),np.random.normal(size=(cols,arows))]).transpose(),columns = ['key'] + ['avalue' + str(i) for i in range(1,1+cols)]).set_index('key')
b = pd.DataFrame(np.vstack([np.random.choice(100,size=(brows)),np.random.normal(size=(cols,brows))]).transpose(),columns = ['key'] + ['bvalue' + str(i) for i in range(1,1+cols)]).set_index('key')

In [15]:
a.to_csv("a.csv")
b.to_csv("b.csv")

In [36]:
a = pd.read_csv("a.csv")
b = pd.read_csv("b.csv")

In [48]:
ref = a.merge(b,on='key',how='inner',suffixes=('_a','_b')).sort_values('key')

In [61]:
result = pd.read_csv('result.csv')

In [66]:
result = result.drop(columns=['bump'])

In [71]:
ref[ref.key == 0]

       key   avalue1   avalue2   bvalue1   bvalue2
10032  0.0  0.318975 -0.368146 -1.126926 -2.371093
10037  0.0  0.318975 -0.368146 -1.354420 -1.791935
10038  0.0  0.318975 -0.368146 -0.166069  1.045082
10039  0.0  0.522374 -1.467159  0.804085  0.738843
10041  0.0  0.522374 -1.467159 -0.275773 -0.059151
10042  0.0  0.522374 -1.467159 -1.568973 -0.030951
10043  0.0  0.522374 -1.467159 -1.514737 -1.414695
10044  0.0  0.522374 -1.467159 -1.187984 -0.642074
10045  0.0  0.522374 -1.467159 -1.354420 -1.791935
10046  0.0  0.522374 -1.467159 -0.166069  1.045082
10047  0.0 -0.157011 -1.576671  0.804085  0.738843
10048  0.0 -0.157011 -1.576671 -1.126926 -2.371093
10049  0.0 -0.157011 -1.576671 -0.275773 -0.059151
10050  0.0 -0.157011 -1.576671 -1.568973 -0.030951
10051  0.0 -0.157011 -1.576671 -1.514737 -1.414695
10052  0.0 -0.157011 -1.576671 -1.187984 -0.642074
10053  0.0 -0.157011 -1.576671 -1.354420 -1.791935
10054  0.0 -0.157011 -1.576671 -0.166069  1.045082
10036  0.0  0.318975 -0.368146 -1.187984 -0.642074
10035  0.0  0.318975 -0.368146 -1.514737 -1.414695
10040  0.0  0.522374 -1.467159 -1.126926 -2.371093
10033  0.0  0.318975 -0.368146 -0.275773 -0.059151
10034  0.0  0.318975 -0.368146 -1.568973 -0.030951
10031  0.0  0.318975 -0.368146  0.804085  0.738843

In [72]:
result[result.key == 0]

    key   avalue1   avalue2   bvalue1   bvalue2
0   0.0  0.318975 -0.368146  0.804085  0.738843
1   0.0  0.318975 -0.368146 -1.126926 -2.371093
2   0.0  0.318975 -0.368146 -0.275773 -0.059151
3   0.0  0.318975 -0.368146 -1.568973 -0.030951
4   0.0  0.318975 -0.368146 -1.514737 -1.414695
5   0.0  0.318975 -0.368146 -1.187984 -0.642074
6   0.0  0.318975 -0.368146 -1.354420 -1.791935
7   0.0  0.522374 -1.467159  0.804085  0.738843
8   0.0  0.522374 -1.467159 -1.126926 -2.371093
9   0.0  0.522374 -1.467159 -0.275773 -0.059151
10  0.0  0.522374 -1.467159 -1.568973 -0.030951
11  0.0  0.522374 -1.467159 -1.514737 -1.414695
12  0.0  0.522374 -1.467159 -1.187984 -0.642074
13  0.0  0.522374 -1.467159 -1.354420 -1.791935

In [70]:
pd.concat([ref,result]).drop_duplicates(keep=False)

        key   avalue1   avalue2   bvalue1   bvalue2
10038   0.0  0.318975 -0.368146 -0.166069  1.045082
10046   0.0  0.522374 -1.467159 -0.166069  1.045082
10047   0.0 -0.157011 -1.576671  0.804085  0.738843
10048   0.0 -0.157011 -1.576671 -1.126926 -2.371093
10049   0.0 -0.157011 -1.576671 -0.275773 -0.059151
...     ...       ...       ...       ...       ...
7904   86.0 -1.008185 -0.962480  1.873426  1.243547
7915   86.0 -0.615445 -0.611301  1.873426  1.243547
7926   86.0  0.934638  1.124756  1.873426  1.243547
7937   86.0  1.149742 -0.648674  1.873426  1.243547
7948   86.0  0.354252 -0.746446  1.873426  1.243547

[1167 rows x 5 columns]

In [77]:
#res = []
for key, group in b.groupby('key'):
    print(len(group))
#res = pd.concat(res)

8
10
6
7
9
7
17
16
11
8
6
10
14
10
9
10
11
21
10
11
14
11
10
7
10
11
11
10
9
9
12
9
7
12
10
12
7
13
12
3
7
12
12
11
10
7
12
9
15
7
2
5
8
13
13
11
7
11
13
6
11
10
10
9
11
15
7
11
8
9
4
11
5
9
10
5
7
6
10
10
15
7
10
11
11
11
11
5
12
10
19
7
16
13
6
7
16
5
12
17

In [75]:
res

      key   avalue1   avalue2   bvalue1   bvalue2
0     0.0  0.318975 -0.368146  0.804085  0.738843
1     0.0  0.318975 -0.368146 -1.126926 -2.371093
2     0.0  0.318975 -0.368146 -0.275773 -0.059151
3     0.0  0.318975 -0.368146 -1.568973 -0.030951
4     0.0  0.318975 -0.368146 -1.514737 -1.414695
..    ...       ...       ...       ...       ...
199  99.0  0.392200  0.588111 -0.691747 -0.056666
200  99.0  0.392200  0.588111 -1.114488 -1.291631
201  99.0  0.392200  0.588111  1.569914 -0.726094
202  99.0  0.392200  0.588111  0.545421 -1.286129
203  99.0  0.392200  0.588111  0.110321 -0.660526

[10118 rows x 5 columns]